body {
	background-color: #BEAFC0;
	font-family: "Syncopate", sans-serif;
	font-weight: 400;
	font-style: normal;
}
#top {
	color: #433B38;
}
nav {
	background-color: #b07b7b;
	color: #82735c;
	display: flex;
	justify-content: center;
	gap: 100px;
	padding: 10px;
}
a {
	font-family: "Silkscreen", sans-serif;
	padding: 10px 20px;
	border-radious: 6px;
	transition: background-color 0.5s ease;
	font-size: 20px;
}
a:hover {
	background-color: #afa988;
	color: #3b281a;
}
main {
	color: #433B38;
}
header {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
}
.searchBar {
	font-family: "Syncopate", sans-serif;
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #afa988;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
#dashboard {
	padding: 20px;
}
.dashGrid {
	display: flex;
    flex-direction: row; 
    gap: 20px; 

}
.moviesWatched, .moviesToWatch {
    border: 2px solid #333;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    flex: 1; 
}
.movieGrid {
	display: flex;
    flex-direction: row; 
    gap: 20px; 
}
.movieCard {
	width: 40px;
	height: 80px;
	border: 2px solid #333;
	background-color: #fff;
	border-radius: 15px;
}
